.about {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 8px;
    margin-top: 40px;
  }
  

  .about h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
  }
  

  .about h2 {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .about p {
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
  }
  

  .about ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .about ul li {
    font-size: 1.2em;
    color: #444;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 4px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .about ul li:hover {
    background-color: #f0f0f0;
  }
  .aboutDetails{
    background-color: rgb(96 26 167);
  }
  

  @media (max-width: 768px) {
    .about {
      padding: 20px;
    }
  
    .about h1 {
      font-size: 2em;
    }
  
    .about h2 {
      font-size: 1.8em;
    }
  
    .about p {
      font-size: 1em;
    }
  
    .about ul li {
      width: 90%;
    }
  }